<template>
    <div>
        <div v-if="loader">
            <img src="images/loader.gif" alt="">
        </div>
        <div v-else>
            <input type="text" v-model="dataId">
            <button v-on:click="getDataById">Получить</button>
        </div>

        <div v-if="data">
            <table>
                <tr>
                    <th>id</th>
                    <th>data</th>
                    <th>access</th>
                </tr>
                <tr>
                    <th>{{data.id}}</th>
                    <th>{{data.data}}</th>
                    <th>{{data.access}}</th>
                </tr>
            </table>
        </div>
        <div v-else-if="data===false">
            {{error_message}}
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                dataId: '',
                loader: false,
                data: null,
                error_message: ''
            }
        },
        methods: {
            getDataById(){
                if(this.dataId === '') {
                    alert('Введите id в поле');
                } else {
                    this.loader = true;
                    this.data = null;

                    axios.post('/api/get-record', {
                        id: this.dataId,
                    }).then(response => {
                        this.loader = false;
                        this.data = response.data;
                    }).catch(error => {
                        this.loader = false;
                        this.data = false;
                        this.error_message = error.response.data.message;
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>